<div class="body">
  
  <div class="space"></div>

  <h1 class="fadeleft">Gallery</h1>
  <div class="grid">
    <% @posts.each do |post| %>
      <div class="post">
        <%= link_to image_tag(post.image, class:"post_img"), post_path(post.id) %>
        <p class="info"><%= post.title %></p>
      </div>
    <% end %>
  </div>
  <div class="space"></div>

  <%= paginate @posts %>

  <div class="space"></div>

</div>
