/* 初期設定 ----------------------------------------------------------------*/
html{
  overflow: auto;
}

body{
  overflow: hidden;
}

h1{
  font-size: 1.7rem;
  margin: 25px;
}

h2{
  font-size: 1.5rem;
  margin: 20px;
}

h3{
  font-size: 1.3rem;
  margin: 15px;
  padding-left: 10px;
  border-left: 5px solid #000000;
  background-color: #e4e3e3;
}

.space{
  height: 50px;
}

.body{
  width: 95%;
  margin: 0 auto;
}

img{
  max-width: 100%;
}

.post_img{
  height: 200px;
  width: 300px;
  object-fit: cover;
}

.profile_img{
  width: 400px
}

header{
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100vw;
  position: fixed;
  background-color: #fff;
  z-index: 10;
}

.logo{
  font-size: 25px;
  letter-spacing: 5px;
  font-weight: bold;
  margin: 5px 25px;
}

.logo_resp{
  display: none;
}

.logo_content{
  color: #000000;
  text-decoration: none;
}

nav{
  display: flex;
  justify-content: space-around;
}

.navi_list{
  list-style: none;
  margin: 5px 25px;
  background: linear-gradient(45deg, #fed475 0%,#e53d5d 50%,#c23186 70%,#9c38bb 100%);
  border-radius: 25px;
  box-shadow: 0 5px 25px #865c5c26;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition: all .2s linear;
  width: 150px;
}

.navi_list:hover {
  box-shadow: 0 5px 25px #0000004d;
}

.scroll_img{
  overflow: hidden;
 }
 
 .inner-block{
  width: 100%;
  margin: 0 auto;
  position:relative;
 }
 
 
 .fade-img-box{
  width: 90%;
  height: 700px;
  margin: 0 auto;
  margin-left: auto;
  margin-top: 10px;
  position:relative;
 }
 
 .fade-img-box img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
 }

 .scroll{
  width: fit-content;
  margin: 12px auto;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
 }

 .fadeout{
  opacity: 1;
  transition: all 2s;
 }

.grid{
  margin-top: 40px;
  gap: 25px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.fadein{
  opacity: 0;
  transform: translateY(100px);
  transition: all 1.5s;
}

.profile_img{
  display: flex;
  margin: 0 auto;
}

.profile_name{
  text-align: center;
}

.profile_content{
  width: 60%;
  margin: 0 auto;
}

.grid_content{
  width: 80%;
  margin: 0 auto;
}

.equip{
  width: 90%;
  margin: 0 auto;
}

.equip_content{
  width: 60%;
  margin: 0 auto;
}

.faderight{
  opacity: 0;
  transform: translateX(100px);
  transition: all 1.5s;
}

.fadeleft{
  opacity: 0;
  transform: translateX(-100px);
  transition: all 1.5s;
}

.container {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px #29292933;
  background-color: #ffffff;
  box-sizing: border-box;
}

.contents{
  display: flex;
  justify-content: space-around;
}

.left_content{
  width: 70%;
}

.post_img_show{
  display: block;
  margin: 0 auto;
}

.model{
  color: #888888;
}

.btns{
  margin-top: 10px;
}

.btn_standard{
  color: #888888;
  text-decoration: none;
  border: 1px solid #000000;
  border-radius: 999px;
  padding: 10px 20px;
  margin: 10px;
}

.btn_standard:hover{
  box-shadow: 0 5px 25px #0000004d;
}

.right_content{
  width: 30%;
}

footer{
  height: 200px;
  background-color: #e4e3e3;
}

.footer{
  height: 100px;
  display: flex;
  align-items: center;
}

.copyright{
  text-align: center;
  margin: 0 auto;
}

form input,
form textarea,
form select{
  width: 80%;
  margin: 5px auto 15px;
  padding: 15px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  display: block;
}

form input[type="submit"] {
  background-color: #212121;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
  width: 300px
}

form input[type="submit"]:hover {
  background-color: #bbbbbb;
  width: 300px
}

.explain{
  width: 80%;
  margin: 50px auto 15px;
  display: block;
}

.log{
  text-align: center;
}

.back{
  height: 60vh;
}

@media screen and (max-width: 480px){

  .logo{
    display: none;
  }

  .logo_resp{
    display: block;
    font-size: 15px;
    letter-spacing: 5px;
    font-weight: bold;
    margin: 5px 25px;
  }

  img{
    width: 300px;
  }

  .scroll_img{
    overflow: hidden;
  }
   
   .inner-block{
    width: 100%;
    margin: 0 auto;
    position:relative;
  }
   
   
   .fade-img-box{
    height: 300px;
  }
   
   .fade-img-box img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  .profile_content{
    width: 90%;
    margin: 0 auto;
  }

  .equip_content{
    width: 100%;
    margin: 0 auto;
  }

  .contents{
    flex-direction: column;
  }

  .left_content{
    width: 100%;
  }
  
  .model{
    color: #888888;
  }
  
  .right_content{
    width: 100%;
  }

}